div{
    display: inline-block;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background: red;
}
.purple{
    background: purple;
}
.orange{
    background: orange;
}